.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #fff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
    text-shadow: .2rem .4rem 2px rgba(0,0,0,.4);
    line-height: 4rem;
    margin-bottom: 2rem;
    animation: moveIt 1s  0.5s forwards;
    opacity: 0;
}

.banner p{
    font-family: var(--font-secondary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px rgba(0,0,0,.4);
    margin-bottom: 2rem;
    animation: moveIt 1s 0.7s forwards;
    opacity: 0;
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: #c94b4b;  
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    background: linear-gradient(to right, #4b134f, #c94b4b);
    padding: 1rem 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    animation: moveIt 1s 0.9s forwards;
    opacity: 0;
}

.banner button:hover{
    letter-spacing: .1rem;
}

@keyframes moveIt{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}