.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #f0fbff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .5s;
    z-index: 150;
}

.showMenu .sidebar{
    z-index: 150;
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
}

.menu-item{
    text-align: center;
    margin-bottom: .4rem;
    z-index: 150;
}

.menu-link{
   font-family: var(--font-action);
   font-size: 1.5rem;
   color: #808080;
   /* line-height: 2.5rem;  */
   transition: color 1s;
   z-index: 150;
}

.menu-link:hover{
    color: #4b134f;
    z-index: 150;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 150;
}

.social-media i{
    background-color: #4b134f;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color .5s;
    z-index: 150;
}

.social-media i:hover{
    background-color: #ee00ff;
    z-index: 150;
}